/* .registration{
    border: 1px solid lightgray; 
    border-radius: 7px;
} */

.mb-3{
    font-size: 20px;
}
.form-input {
    width:520px;
    margin: auto;
}
.submit-btn{
    width: 520px;
}
.form-outline{
    margin-top:50px;
}