.task-columns{
  background-color: black;
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
}
.task-columns > ul{
  background-color: #828290;
  border-radius: 0.7em;
  border:1px solid black;
  color:white;
  /* align-items: stretch; */
  padding-left:1em;
  padding-right:1em;
  padding-bottom:20px;
  padding-top:20px;
  margin-right:1em;
  margin-left:1em;
  width: 20em;
}

.todo_component{
  display: flex;
  background-color: white;
  border-radius: 7px;
  margin-top:0.3em;
  width:stretch;
  height:120px;
}

.todo_link{
  width:stretch;
  height:120px;
  text-align: left;
  /* border:1px solid black; */
}

.content-area{
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
}

.content-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-buttons{
  margin-right:40px;
}
.drag-info{
  text-align: left;
  margin-left:40px;
  margin-top:1em;
  margin-bottom:0.3em;
  color:white;
}
.task_forms{
  display: inline-block;
}

.task_buttons{
  margin-left:auto;
  flex-shrink: 0;
  flex-grow: 0;
}

.fa-square-o{
  margin-right:2.5px;
}
.create-button{
  margin-top: 10px;
  margin-bottom:5px;
}
.icon-red{
  color:red;
}
.icon-yellow{
  color:orange;
}
.icon-green{
  color:green;
}

.task_forms button {
  padding-left: 1px;
  border: none;
  background: none;
  font-size: 17px;
  cursor: pointer;
}


.update_task{
  text-decoration: none;
}

.completed_task{
  color: blue;
  text-decoration: line-through;
}

.fa-edit{
  color:green;
  margin-right:3px;
}
.fa-remove{
  color:red;
}

.task_input{
  border:none;
}
.group-title{
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}
.list-view-priority{
  position: absolute;
  bottom: 0.5em;
}



@media (max-width:1100px){
  .todo{  
    margin-right:0px;
    margin-left:0px;
  }
  .todo_component{
    flex-direction: column;
  }
  .task-columns{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-area{
    width:700px;
  }
  .drag-info{
    text-align: center;
    margin-left:0px;
  }
  .content-header{
    flex-direction: column;
  }
  .create-button{
    margin-top:0px;
  }
  .content-buttons{
    margin-right:0px;
  }
}
